/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
*.gem

# Let's commit these so we don't need a build step
# lib/svix/api
# lib/svix/models
# lib/svix/api_client.rb
# lib/svix/api_error.rb
# lib/svix/configuration.rb
.openapi-generator
